{% extends 'base.html.twig' %}

{% block title %}Yogagea - Lezione{% endblock %}

{% block body %}

<div class="salt8">
    
    <ul class="nav nav-tabs text-justify">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#lezioni01">Hatha Yoga</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lezioni02">Anasura Yoga</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lezioni03">Yoga Schiena</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lezioni04">Asthanga Vinyasa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lezioni05">Kundalini Yoga</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lezioni06">Yoganesha</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lezioni07">Jivayoga</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lezioni08">Funzionale Yin Tonic</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lezioni09">Taijiquan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lezioni10">Lezioni individuali</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lezioni11">Workshop</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <!-- lezioni 01-->
        <div class="tab-pane fade active show" id="lezioni01">
            <div class="md-6 position-static p-4 pl-md-0">
                <div class="text-center">
                    <img class="center h-50 m-3" src="images/hathayoga.jpg" alt="">
                    <h3 class="title mt-2"> GINNASTICA con HATHA YOGA </h3>
                    <blockquote class="blockquote m-3">
                        <p class="lead mb-3 text-justify">
                            Per muovere il corpo in modo consapevole e rispettoso delle articolazioni. L'insegnante ti accompagna passo a passo nell'esecuzione delle diverse 
                            posture volte a sciogliere le tensioni e a rendere forte la muscolatura. Impari a usare il respiro anche quando sei sotto sforzo, impari a sentire e 
                            conoscere il tuo corpo. Il movimento e la respirazione calmano profondamente la mente. I benefici sono molteplici e incentrati sul benessere 
                            psicofisico dell'individuo. Vengono proposte le posizioni in modo da evitare disallineamenti del corpo e per ottimizzare la postura stessa. 
                            Ti accorgerai alla fine della classe di avere le spalle aperte e la schiena dritta, ma non rigida. Questa classe è rivolta a tutti i livelli di 
                            pratica, utile per i principianti e per chi è più avanzato. 
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>

        <!-- lezioni 02-->
        <div class="tab-pane fade" id="lezioni02">
            <div class="md-6 position-static p-4 pl-md-0">
                <div class="text-center">
                    <img class="center h-50 m-3" src="images/anusarayoga.jpg" alt="">
                    <h3 class="title mt-2"> GINNASTICA con ANUSARA® YOGA </h3>
                    <blockquote class="blockquote m-3">
                        <p class="lead mb-3 text-justify">
                            La parola “anusara” significa “fluire con la grazia” cioè fluire in armonia con la propria vita.
                        </p>
                        <p class="lead mb-3 text-justify">
                            Per sostenere i muscoli e il respiro questa classe si avvale della metodologia creata da John Friend e basata su particolari allienamenti e azioni 
                            delle varie parti del corpo. L'insegnante ti guida nel movimento dinamico per arrivare alla preparazione di una postura particolare scelta di volta 
                            in volta. I muscoli vengono quindi allenati con precisione e attenzione al fine di creare spazio nelle articolazioni. La lezione è energica e viene 
                            alla fine compensata da posture che detendono e allungano tutto il corpo. L'insegnante unisce, nella pratica fisica, la conoscenza anatomica alle 
                            tematiche filosofiche: questo al fine di dare un significato profondo all'esperienza stessa.
                        </p>
                        <p class="lead mb-3 text-justify">
                            La classe è caratterizzata dall'utilizzo dei Principi Universali di Allineamento volti al rispetto del corpo fisico e delle caratteristiche fisiche personali degli allievi.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>

        <!-- lezioni 03-->
        <div class="tab-pane fade" id="lezioni03">
            <div class="md-6 position-static p-4 pl-md-0">
                <div class="text-center">
                    <img class="center h-50 m-3" src="images/yogaschiena.jpg" alt="">
                    <h3 class="title mt-2"> GINNASTICA per la SCHIENA </h3>
                    <blockquote class="blockquote m-3">
                        <p class="lead mb-3 text-justify">
                            Quando la colonna vertebrale è flessibile ed elastica allora il corpo resta giovane. La nostra età dipende proprio dallo stato della colonna vertebrale. Durante la classe, 
                            grazie a movimenti lenti armonicamente abbinati alla corretta respirazione, l'insegnante ti permette di ritrovare la forza della schiena.
                        </p>
                        <p class="lead mb-3 text-justify">
                            Se soffri di mal di schiena è importante riattivare i muscoli che possono sostenerla. Se stai spesso in piedi durante la giornata impari a sentirti meno stanco attivando 
                            la muscolatura pelvica e addominale. Se passi tante ore seduto davanti al computer potrai sostenere la testa senza affaticare il tratto cervicale. Il respiro corretto 
                            inoltre ti aiuterà a lasciare andare le tensioni emotive accumulate nel diaframma e nel bacino.
                        </p>
                        <p class="lead mb-3 text-justify">
                            Se sei stanca/o fatti una coccola dedicando quest'ora settimanale al tuo benessere.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>

        <!-- lezioni 04-->
        <div class="tab-pane fade" id="lezioni04">
            <div class="md-6 position-static p-4 pl-md-0">
                <div class="text-center">
                    <img class="center h-50 m-3" src="images/ashtangavinyasa.jpg" alt="">
                    <h3 class="title mt-2"> GINNASTICA con ASHTANGA VINYASA YOGA </h3>
                    <blockquote class="blockquote m-3">
                        <p class="lead mb-3 text-justify">
                            Questa pratica dinamica e sostenuta è scandita da movimenti in sequenza ritmati dal respiro profondo e controllato. Durante la lezione si utilizza una tecnica 
                            di respirazione altamente performante chiamata ujjayi proprio per aiutare l'allievo a mantenere l'azione corretta del diaframma e ossigenare così la muscolatura.
                        </p>
                        <p class="lead mb-3 text-justify">
                            L'insegnante porta particolare cura a coloro che non conoscono la sequenza. Questa pratica, creata da Pattabhi Jois, è precisa e invariata e suddivisa in serie. 
                            Dalla prima serie si arriva via via a posture più complesse e il corpo è allenato tonificato, allungato, purificato in ogni sua parte. Ne giovano il sistema endocrino e nervoso.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>

        <!-- lezioni 05-->
        <div class="tab-pane fade" id="lezioni05">
            <div class="md-6 position-static p-4 pl-md-0">
                <div class="text-center">
                    <img class="center h-50 m-3" src="images/kundaliniyoga.jpg" alt="">
                    <h3 class="title mt-2"> GINNASTICA con KUNDALINI® YOGA </h3>
                    <blockquote class="blockquote m-3">
                        <p class="lead mb-3 text-justify">
                            Il lavoro su corpo, respiro, mente trova nella metodologia del Kundalini Yoga la sua massima espressione. 
                            Ogni movimento è preciso e studiato anche nell'angolazione delle membra proprio per toccare i vari sistemi corporei (sistema ghiandolare, sanguigno, nervoso).
                        </p>
                        <p class="lead mb-3 text-justify">
                            La classe è una vera e propria immersione in te stesso. L'uso di mantra, canto, tecniche di respirazione (pranayama) 
                            sostengono i movimenti e le posture. Solitamente vi sono anche spazi meditativi all'interno della lezione.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>

        <!-- lezioni 06-->
        <div class="tab-pane fade" id="lezioni06">
            <div class="md-6 position-static p-4 pl-md-0">
                <div class="text-center">
                    <img class="center h-50 m-3" src="images/yoganesha.jpg" alt="">
                    <h3 class="title mt-2"> YOGANESHA </h3>
                    <blockquote class="blockquote m-3">
                        <p class="lead mb-3 text-justify">
                            Cosa significa praticare attività fisica con consapevolezza?
                        </p>
                        <p class="lead mb-3 text-justify">
                            Riconoscere che ogni gesto e ogni atto del corpo si riflette sulla mente e sapere che ciò che facciamo influisce sui pensieri e non solo viceversa. 
                            Allora inserire cultura nella pratica fisica è un arricchimento impagabile: puoi allenare il corpo attraverso la conoscenza.
                        </p>
                        <p class="lead mb-3 text-justify">
                            L'insegnante prepara con dovizia e creatività ogni lezione di YOGANESHA collegando la serie di posture sul tappetino, 
                            dalle più semplici alle più complesse, alla filosofia orientale.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>

        <!-- lezioni 07-->
        <div class="tab-pane fade" id="lezioni07">
            <div class="md-6 position-static p-4 pl-md-0">
                <div class="text-center">
                    <img class="center h-50 m-3" src="images/jivayoga.jpg" alt="">
                    <h3 class="title mt-2"> JIVAYOGA </h3>
                    <blockquote class="blockquote m-3">
                        <p class="lead mb-3 text-justify">
                            Classe condotta da due insegnanti che si avvicendano creando sequenze dinamiche atte a preparare, riscaldare e allenare la muscolatura. 
                            Spesso la classe è sostenuta dalla musica. Uno dei due insegnanti percorre la sala costantemente per proporre aggiustamenti ad ogni allievo 
                            al fine di alleggerire e approfondire la pratica. Il respiro è la colonna portante di tutta la lezione.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>

        <!-- lezioni 08-->
        <div class="tab-pane fade" id="lezioni08">
            <div class="md-6 position-static p-4 pl-md-0">
                <div class="text-center">
                    <img class="center h-50 m-3" src="images/funzionaleyintonic.jpg" alt="">
                    <h3 class="title mt-2"> GINNASTICA FUNZIONALE YIN TONIC </h3>
                    <blockquote class="blockquote m-3">
                        <p class="lead mb-3 text-justify">
                            Hai bisogno di prenderti una pausa dalla frenesia settimanale? La lezione di ginnastica funzionale yin yoga potrebbe fare per te. 
                            la ginnastica funzionale permette di lavorare sulle particolare esigenze del corpo. Il focus è sulle articolazioni, sui legamenti, 
                            tendini e tessuto miofasciale. Fondamentale per chi pratica sport, per il recupero del movimento dovuto a traumi, per mantenere la 
                            corretta idratazione del corpo. La lezione prevede posture semplici mantenute con dolcezza e facilitate dall'uso di props (coperte, bolsters, cubetti). 
                            L'effetto sullo stato mentale è straordinario: fra i tanti benefici vi è il raggiungimento di una profonda calma interiore e il miglioramento dell'energia vitale.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>

        <!-- lezioni 09-->
        <div class="tab-pane fade" id="lezioni09">
            <div class="md-6 position-static p-4 pl-md-0">
                <div class="text-center">
                    <img class="center h-50 m-3" src="images/taijiquan.jpg" alt="">
                    <h3 class="title mt-2"> TAIJIQUAN </h3>
                    <blockquote class="blockquote m-3">
                        <p class="lead mb-3 text-justify">
                            Il Taijiquan stile Chen è una disciplina appartenente alle arti marziali utile per il potenziamento del corpo, l'elasticità dei tendini e 
                            il miglioramento della postura. Il Taiji è praticato lentamente allo scopo di raggiungere la tranquillità. La tranquillità conduce alla 
                            contemplazione e questa alla chiarezza mentale. Il corso prevede anche l'uso delle armi classiche, ventaglio e sciabola, spada e bastone e 
                            alabarda guang dao. Si studieranno le posizioni di base delle braccia e la coordinazione dei tre arti in movimento. È previsto anche il lavoro 
                            sull'energia e il movimento interno. È necessario seguire costantemente le lezioni per ottenere i buoni risultati su corpo e mente e memorizzare 
                            adeguatamente la serie proposta dal maestro.
                        </p>
                        <p class="lead mb-3 text-justify">
                            Presentazione del corso Giovedì 30 GENNAIO alle 19:00.
                        </p>
                        <p class="lead mb-3 text-justify">
                            Le date del corso sono FEBBRAIO 6 - 20 - 27, MARZO 12 - 19, APRILE 2 - 9 - 23 - 30, MAGGIO 14
                        </p>
                        <p class="lead mb-3 text-justify">
                            Il corso si terrà nella giornata di Giovedì, nelle date sopra indicate, dalle 19:00 alle 20:30
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>

        <!-- lezioni 10-->
        <div class="tab-pane fade" id="lezioni10">
            <div class="md-6 position-static p-4 pl-md-0">
                <div class="text-center">
                    <img class="center h-50 m-3" src="images/lezioniindividuali.jpg" alt="">
                    <h3 class="title mt-2"> LEZIONI INDIVIDUALI </h3>
                    <blockquote class="blockquote m-3">
                        <p class="lead mb-3 text-justify">
                            Se vuoi approfondire la pratica o studiare una particolare posizione regalati un'ora “one to one” in cui il tuo maestro si dedica interamente a te.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>

        <!-- lezioni 11-->
        <div class="tab-pane fade" id="lezioni11">
            <div class="md-6 position-static p-4 pl-md-0">
                <div class="text-center">
                    <h3 class="title mt-2"> A breve info sui workshop 2019 - 2020 </h3>
                    <div class="d-flex justify-content-center row no-gutters">
                        <div class="card border-white col-sm-3">
                            <div class="card-body">
                                <img class="card-img mb-3" src="images/andrea_boni.jpg" class="d-block w-100" alt="carousel02">
                                <h5 class="card-title">Andrea Boni</h5>
                            </div>
                        </div>
                        <div class="card border-white col-sm-3">
                            <div class="card-body">
                                <img class="card-img mb-3" src="images/karina_gusalova.jpg" class="d-block w-100" alt="carousel02">
                                <h5 class="card-title">Karina Gusalova</h5>
                            </div>
                        </div>
                        <div class="card border-white col-sm-3">
                            <div class="card-body mb-3">
                                <img class="card-img" src="images/jacopo_ceccarelli.jpg" class="d-block w-100" alt="carousel02">
                                <h5 class="card-title">Jacopo Ceccarelli</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
