{% extends 'base.html.twig' %}

{% block title %}Yogagea - FAQ{% endblock %}

{% block body %}

<div class="salt8">

    <h2 class="title mt-2"> FAQ </h2>
        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Non ho mai fatto yoga posso provare anche se le lezioni sono iniziate?
            </p>
            <p class="lead m-2 text-justify">
                Certo! Tu chiamaci o scrivici e ti orienteremo a provare la lezione più adatta a te, alle tue esigenze e preferenze.
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Ho mal di schiena posso praticare?
            </p>
            <p class="lead m-2 text-justify">
                Yogagea offre un’ora settimanale dedicata a movimenti per il benessere della schiena.
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Posso inserirmi nelle lezioni anche se l’anno di attività è già iniziato?
            </p>
            <p class="lead m-2 text-justify">
                Si, gli insegnanti ti aiuteranno a svolgere la lezione in modo ottimale
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                È possibile provare le lezioni?
            </p>
            <p class="lead m-2 text-justify">
                Si hai diritto a una lezione gratuita (soci)
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Cosa significa essere soci?
            </p>
            <p class="lead m-2 text-justify">
               Essere parte di yogagea asd significa fare domanda di ammissione compilando un semplice modulo che ti verrà consegnato il primo giorno 
               (nel rispetto della privacy) e avere la tessera ASI (Associazione Sport Italia) che costa 10,00 euro e ha una validità di 365 giorni 
               dal giorno di emissione della stessa
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Che diritti ha il socio?
            </p>
            <p class="lead m-2 text-justify">
                Il socio può seguire le attività gratuite che facciamo mensilmente e sostenere le attività motorie costanti settimanali con un 
                contributo necessario a coprire le spese vive dell’Associazione.
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Se decido di seguire le lezioni settimanali devo scegliere giorno e orario fisso?
            </p>
            <p class="lead m-2 text-justify">
                No a yogagea asd offriamo massima libertà e puoi muoverti nelle classi che preferisci di giorno in giorno a seconda delle tue necessità e dei tuoi impegni
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Ci sono tanti stili diversi e quale è la differenza?
            </p>
            <p class="lead m-2 text-justify">
                Yogagea asd è l’unica scuola a Piacenza che offre una così grande varietà di stili di pratica: di fatto si tratta sempre di HATHA cioè posture sul tappetino.
                 L’attività motoria si avvale infatti di diversi stili che possono essere più o meno dinamici e più o meno impegnativi a livello fisico e mentale.
                  Tutti i corsi prevedono comunque l’unione di corpo, mente e respiro.
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Non dormo di notte e sono sotto stress lo Yoga mi può aiutare?
            </p>
            <p class="lead m-2 text-justify">
                Secondo decenni di studi clinici l’attività fisica sostenuta dal corretto respiro e dal rilassamento (e meditazione) permette il benessere psicofisico dell’individuo.
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Sono incinta posso praticare?
            </p>
            <p class="lead m-2 text-justify">
                Durante i primi tre mesi è sconsigliato ma successivamente puoi praticare avvisando sempre l’insegnante
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Soffro di una patologia posso praticare?
            </p>
            <p class="lead m-2 text-justify">
                Di solito si escludono quelle posture che possono arrecare un peggioramento alla patologia stessa. 
                Devi comunque sempre avvisare l’insegnante che terrà conto del tuo stato.
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Ho l’influenza posso praticare?
            </p>
            <p class="lead m-2 text-justify">
                No è sconsigliato! Meglio restare a casa e riposare.
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Per accedere alle classi è necessario il certificato medito?
            </p>
            <p class="lead m-2 text-justify">
                Si, certificato medico per attività non agonistica con allegato elettrocardiogramma. La validità del certificato è di un anno.
            </p>
        </blockquote>
        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Come mi devo vestire per la lezione?
            </p>
            <p class="lead m-2 text-justify">
                In modo comodo, tuta o leggins
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Devo portare il tappetino?
            </p>
            <p class="lead m-2 text-justify">
                In sala troverai i tappetini di pratica ad uso comune, se ne hai uno personale lo puoi tenere a yogagea asd contraddistinto da
                 un laccio o porta tappetino che sia riconoscibile da te
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Che tappetino consigliate?
            </p>
            <p class="lead m-2 text-justify">
                Il tappetino deve avere una buona grip ce ne sono tantissimi ma toccali prima di acquistarli. (Liforme, Bodhi, Manduka….)
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Si pratica a piedi nudi?
            </p>
            <p class="lead m-2 text-justify">
                Si è consigliato vivamente
            </p>
        </blockquote>

        <blockquote class="blockquote m-3">
            <p class="h5 text-justify">
                Piccoli utili suggerimenti:
            </p>
            <p class="m-2">
                <ul class="lead text-justify">
                    <li> Lascia le scarpe all’ingresso. </li>
                    <li> Se la lezione è già cominciata rispetta il massimo silenzio quando entri idem se devi uscire prima della fine della classe. </li>
                    <li> La sala è amata e curata da tutti i soci rispettala anche con la voce parlando piano </li>
                    <li> Ricordati di silenziare il telefono e lascialo nello spogliatoio </li>
                    <li> C’è uno spogliatoio maschile e uno femminile dove è possibile cambiarsi e lasciare i propri oggetti personali durante la classe,
                        ma ti ricordiamo che il centro non è responsabile per eventuali smarrimenti. </li>
                    <li> Se vuoi portare una copertina per il rilassamento finale puoi lasciarla nello spogliatoio ma ordinatamente dentro alla tua borsa di pratica.
                        In sala troverai delle coperte di pratica che per motivi di igiene non possono essere usate per coprirsi a fine lezione </li>
                    <li> Se hai subito un infortunio, hai qualche problema di salute o sei incinta avvisa l’insegnante prima dell’inizio della pratica. </li>
                    <li> Nelle pause fra le lezioni non praticare da solo. Lo yoga, senza la guida di un insegnante esperto, può far danni! </li>
                    <li> L’insegnante non è un medico, quindi se hai particolari problemi ti consigliamo di chiedere il parere di un esperto. </li>
                </ul>
            </p>
        </blockquote>

</div>
{% endblock %}
